*
!*/
!/.gitignore

!/.github/workflows/*.yml

!/benchmarks/**/*.py
!/benchmarks/README.md

!/mcresources/py.typed
!/mcresources/**/*.py

!/tests/expected/**/*.json
!/tests/**/*.py

!/CHANGELOG.txt
!/LICENSE.txt
!/README.md
!/requirements.txt

!/setup.cfg
!/setup.py
!/docs.py

__pycache__
*.pyc