*
!*/
!/.gitignore

!/.github/workflows/*.yml

!/benchmarks/**/*.py
!/benchmarks/README.md

!/mcresources/py.typed
!/mcresources/**/*.py

!/tests/expected/**/*.json
!/tests/**/*.py

!/docs.py
!/github_wiki_pydoc.py

!/LICENSE.txt
!/README.md
!/requirements.txt

!/setup.cfg
!/setup.py

__pycache__
*.pyc