*
!*/
!/.gitignore

!/.github/workflows/*.yml

!/benchmarks/**/*.py
!/benchmarks/README.md

!/mcresources/**/*.py

!/sample/test/**/*.json

!/tests/**/*.py

!/docs.py

!/LICENSE.txt
!/README.md
!/requirements.txt

!/setup.cfg
!/setup.py

__pycache__
*.pyc